- if user_signed_in?
  = current_user.email
  = current_user.id
= content_tag_for(:li, @pins, class: "") do |pin|
  %h2= link_to pin.title, pin

= link_to "new pin", new_pin_path, class: "btn btn-warning"
 