!!!5
%html
  %head
    %title Pin Board
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      =content_tag(:div, msg, class: "alert alert-info")

    - if user_signed_in?
      = link_to "LOGOUT", destroy_user_session_path, method: :delete
    - else
      = link_to "LOGIN", new_user_session_path 
      = link_to "SIGNUP", new_user_registration_path 
 

    = yield


 